.profile_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 90%;
  margin: 1rem auto;
}

.profile_main > h1 {
  font-family: Manrope;
  font-size: 30px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.1em;
  /* margin-bottom: 1rem; */
  text-transform: uppercase;
  /* text-align: center; */
}

.user_img {
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: 2px 4px 14px 2px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  width: 121px;
  margin-bottom: 2rem;
  height: 121px;
}

.user_img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.img_upload_label {
  position: absolute;
  right: -12px;
  top: -14px;
  cursor: pointer;
}

.profile_edit_btn,
.save_btn {
  background: #2a72de;
  border-radius: 14.6429px;
  color: #fff;
  font-family: Quicksand;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 8px 17px;
  outline: none;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.form_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 1rem auto;
}

.input_container {
  width: 100%;
  display: flex;
  /* margin-bottom: 1rem; */
  flex-direction: column;
}

.input_flex_div {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
}

.input_field_label {
  font-family: Quicksand;
  font-size: 17px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.035em;
  text-align: left;
  color: #717171;
}

.input_field {
  background: #efefef;
  border: 0.895833px solid #e4e4e4;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 800;
  min-width: 100%;
  /* line-height: 45px; */
  letter-spacing: 0.085em;
  outline: none;
  /* text-align: left; */
  resize: none;

  padding: 10px;
  border-radius: 8.95833px;
}

.save_btn {
  align-self: end;
  padding: 8px 20px;
  margin-top: 1rem;
  /* margin-left: -10rem; */
}

.save_btn:disabled {
  background-color: #3c81e7c4;
  cursor: not-allowed;
}

.read_only_form {
  width: 100%;
  /* border: 2px solid #2a72de; */
  display: flex;
  flex-direction: column;
  border: 0.895833px solid #e4e4e4;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-radius: 11px;
  padding-left: 2rem;
}

.readOnlyInput {
  font-size: 1rem;
  color: #2a72de;
}
.delete_icon {
  cursor: pointer;
  font-size: 1.4rem;
  width: 6%;
  border-radius: 10px;
  padding: 0.5rem;
  align-self: center;
  color: red;
  background-color: rgba(247, 206, 206, 0.461);
}
.add_more {
  cursor: pointer;
  font-size: 2rem;
  color: #2a72de;
}

.social_icons_cont {
  display: flex;
  /* margin-top: 2rem; */
  align-items: center;
}

.social_icon {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 43.65px;
  height: 43.65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 1em;
  cursor: pointer;
}

.social_icon > a {
  text-decoration: none;
  color: #000;
}

.linkedinLink {
  color: #2a72de;
}

.twitterLink {
  color: #4cc9fb;
}

.instaLink {
  color: rgb(247, 77, 134);
}

.facebookLink {
  color: #2664c2;
}

@media (max-width: 1100px) {
  .input_flex_div {
    display: block;
  }
  .input_container {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1100px) {
  .input_field {
    width: 300px;
  }
}
