.main__container {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}

.main__content {
  display: flex;
  margin-top: 102px;
}

.main__block {
  width: calc(100% - 200px);
  margin-left: 200px;
}
